<div class="container">
    <p class="margin1"></p>
<h1>ABOUT</h1>
<p class="text-justify">I am Melvin Canlas, a Web Developer student from Holy Angel University in Pampanga. Since highschool, I always put creativity on everything I make, and find the most easy way to execute it without decreasing the quality of my work. Through this, all my experiences are all put into challenges to make. Moreover, it gives me more opportunity to learn more skills that I needed to continue my journey in the web development.  </p>

<p class="margin2"></p>
<div class="row">
    <div class="col-md-2 col-sm-6">
        <div class="progress blue">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="progress-value">80%</div>
        </div>
        <p class="text-center">HTML</p>
    </div>
    <div class="col-md-2 col-sm-6">
        <div class="progress yellow">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="progress-value">70%</div>
        </div>
        <p class="text-center">CSS</p>
    </div>
    <div class="col-md-2 col-sm-6">
        <div class="progress pink">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="progress-value">60%</div>
        </div>
        <p class="text-center">Javascript</p>
    </div>
    <div class="col-md-2 col-sm-6">
        <div class="progress green">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="progress-value">75%</div>
        </div>
        <p class="text-center">Angular</p>
    </div>
    <div class="col-md-2 col-sm-6">
        <div class="progress red">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="progress-value">85%</div>
        </div>
        <p class="text-center">Bootstrap</p>
    </div>
    <div class="col-md-2 col-sm-6">
        <div class="progress violet">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="progress-value">90%</div>
        </div>
        <p class="text-center">Photoshop</p>
    </div>
</div>
</div>

<p class="margin3"></p>