<section class="gallery-block compact-gallery">
    <div class="container">
        <div>
            <h1>WORK</h1>
        </div>
        <div class="row no-gutters">
            <div class="col-md-6 col-lg-4 item zoom-on-hover">
                <a class="lightbox">
                    <img class="img-fluid image" src="assets/img/work1.png">
                    <span class="description">
                        <span class="description-heading">FIVE ZERO MEDIA</span>
                        <!--<span class="description-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>-->
                    </span>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item zoom-on-hover">
                <a class="lightbox">
                    <img class="img-fluid image" src="assets/img/work2.png">
                    <span class="description">
                        <span class="description-heading">HAUSC POSTER</span>
                        <!--<span class="description-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>-->
                    </span>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item zoom-on-hover">
                <a class="lightbox">
                    <img class="img-fluid image" src="assets/img/work3.png">
                    <span class="description">
                        <span class="description-heading">HAUSC COVER</span>
                        <!--<span class="description-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>-->
                    </span>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item zoom-on-hover">
                <a class="lightbox">
                    <img class="img-fluid image" src="assets/img/work4.png">
                    <span class="description">
                        <span class="description-heading">HAUSC POSTER</span>
                        <!--<span class="description-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>-->
                    </span>
                    </a>
                </div>
            <div class="col-md-6 col-lg-4 item zoom-on-hover">
                <a class="lightbox">
                    <img class="img-fluid image" src="assets/img/work5.png">
                    <span class="description">
                        <span class="description-heading">CICT POSTER</span>
                        <!--<span class="description-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>-->
                    </span>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item zoom-on-hover">
                <a class="lightbox">
                    <img class="img-fluid image" src="assets/img/work6.png">
                    <span class="description">
                        <span class="description-heading">HRPC STANDBY</span>
                        <!--<span class="description-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>-->
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.compact-gallery', { animation: 'slideIn'});
</script>

<p class="margin1"></p>