<nav class="navbar navbar-expand-lg navbar-light" style="font-family: mon;">
  <a class="navbar-brand text-light" href="#"><img src="assets/img/logo.png" width="30" height="30" class="d-inline-block align-middle"> MELVIN CANLAS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-light" href="#about">ABOUT<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#work">WORK</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#contact">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>

<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <h4 id="home"></h4>
  <p><app-home></app-home></p>
  <h4 id="about"></h4>
  <p><app-about></app-about></p>
  <h4 id="work"></h4>
  <p><app-work></app-work></p>
  <h4 id="contact"></h4>
  <p><app-contact></app-contact></p>
</div>
